html,body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial, sans-serif;
}

header {
  padding: 1em;
  background-color: #5555CC;
  border-bottom: 5px solid #000077;
}

header h1 {
  margin: 0;
  color: #007;
}

header h1 a {
  text-decoration: none;
  color: #007;
}

header .user_information {
  float: right;
}

header .user_information a {
  color: #007;
}

section {
  padding: 0;
  display: table;
}

section .row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 1em;
}

#navigation {
  margin: 0;
  background-color: #CDF;
  width: 8em;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigation ul li a {
  display: block;
  color: #007;
  text-decoration: none;
  margin-bottom: 0.25em;
}

#navigation ul li a:hover {
  text-decoration: underline;
}

table.fixed {
  display: fixed;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table.fixed th {
  background-color: #ddd;
}

table.fixed td, table.fixed th {
  border-bottom: 1px solid #ccc;
  padding: 0.25em;
  text-align: right;
}

table.fixed tr:nth-child(even) {
  background-color: #efefef;
}

table.fixed td input[type=text] {
  width: 4em;
  text-align: right;
}

.up {
  background-color: #afa;
}

.down {
  background-color: #faa;
}

.notice {
  border: 2px solid #aa0;
  background-color: #dd0;
  padding: 0.5em;
  margin-bottom: 1em;
}

.error, .errors {
  border: 2px solid #f00;
  background-color: #faa;
  padding: 0.5em;
  margin-bottom: 1em;
}

.errors {
  padding: 0 1em;
}

.field_with_errors label {
  color: #f00;
}

.field_with_errors input {
  border: 1px solid #f00 !important;
}

#login, #register {
  margin: 0;
  display: table-cell;
  padding: 2em 4.5em 4.5em 4.5em;
}

#login h2, #register h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: bold;
}

.group {
  margin-bottom: 1em;
}

input[type=text], input[type=email], input[type=password] {
  width: 10em;
  font-size: 1em;
  border: 1px solid #ccc;
}

.group label{
  display: block;
}

.group .example {
  font-size: 0.9em;
  font-style: italic;
  color: #aaa;
}

#submit_actions {
    display: inline-block;
    padding: 25px 0 0 0;
}

#submit_actions a {
    padding-left: 25px;
}

#submit_actions input {
    padding: 5px;
    width: 5em;
}

footer {
  margin: 0;
  padding: 1em;
  border-top: 5px solid #aaa;
  background-color: #efefef;
  color: #888;
  height: 1.5em;
}

footer .name {
  font-weight: bold;
  float: left;
  margin: 0;
  padding:0;
}

footer .details {
  float: right;
  margin-top: 2px;
}

#author {
  font-style: italic;
  font-size: 0.8em;
  float: left;
  margin: 0 8px 0 8px;
}

#date {
  font-style: italic;
  font-size: 0.8em;
  float: left;
  margin: 0 8px 0 8px;
}

#error {
  margin: 5em;
  border: 5px solid #f00;
  padding: 2em;
  color: #f00;
}
  
